// Mixins

@import './mixins/main';

@mixin section-layout {
  display: table;
  width: 100%;
  position: relative;
}

@mixin content-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// Elements

@import './elements/main';

// Fonts

@font-face { @include font-family(Moon Light,moon-light,"../fonts"); }

// Styles

body {
  font-family: Moon Light;
  color: #ffffff;
}

#header, #about, #resume, #footer {
  @include section-layout;

  &>.content { @include content-center; }
}

#header {
  height: 100vh;
  background: #000;
}

#about {
  height: 50vh;
  background: #f00;
}

#resume {
  height: 50vh;
  background: #0f0;
}

#projects {
  height: 50vh;
  background: #000;
}

#footer {
  height: 20vh;

  &>.content {
    &>.contact a {
      font-size: 2em;
      color: #000;
      letter-spacing: 5px;
      @include crossbrowser(transition,.5s ease);

      &:hover { color: rgb(255,0,0); }
    }
  }
}

@media screen and (min-width: 320px) {
  .nav.left { display: none; }
}

@media screen and (min-width: 768px) {
  .nav.left {
    @include verticalnav;
    display: block;
    left: 0;
    z-index: 1;
  }

  .nav.item {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
}
