navbar {
  & span:first-child { margin-top: 10vh; }

  & button {
    &.k-button {
      transition: 0.5s;
      margin-bottom: 3vh;
      background-color: rgba(0,0,0,.5);
      border-color: #fff;
      color: #fff;

      &:hover { background-color: #000000; color: #fff; }
    }
  }
}
