@mixin scroll-up-down {
  .scroll-down-container {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    text-align: center;

    & a {
      cursor: pointer;
    }
  }

  .scroll-up { color:#000; }
  .scroll-down { color:#fff; }

  .scroll-down, .scroll-up {
    font-size: 2em;
    margin-bottom: 10px;

    &:hover {
      color: #ff0000!important;
    }

    @include crossbrowser(transition,0.5s);
  }
}
