@font-face {
	font-family: Ailerons;
	src: url(../../fonts/ailerons-typeface.eot);
	src: url(../../fonts/ailerons-typeface.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/ailerons-typeface.woff2) format('woff2'),
		 url(../../fonts/ailerons-typeface.woff) format('woff'),
		 url(../../fonts/ailerons-typeface.ttf) format('truetype'),
		 url(../../fonts/ailerons-typeface.svg#svgAileronsTypeface) format('svg');
}

@font-face {
	font-family: Saros;
	src: url(../../fonts/saros-regular.eot);
	src: url(../../fonts/saros-regular.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/saros-regular.woff2) format('woff2'),
		 url(../../fonts/saros-regular.woff) format('woff'),
		 url(../../fonts/saros-regular.ttf) format('truetype'),
		 url(../../fonts/saros-regular.svg#svgAileronsTypeface) format('svg');
}

@font-face {
	font-family: Moon;
	src: url(../../fonts/moon-light.eot);
	src: url(../../fonts/moon-light.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/moon-light.woff2) format('woff2'),
		 url(../../fonts/moon-light.woff) format('woff'),
		 url(../../fonts/moon-light.ttf) format('truetype'),
		 url(../../fonts/moon-light.svg#svgAileronsTypeface) format('svg');
}