navbar span:first-child {
  margin-top: 10vh; }

navbar button.k-button {
  transition: 0.5s;
  margin-bottom: 3vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #fff;
  color: #fff; }
  navbar button.k-button:hover {
    background-color: #000000;
    color: #fff; }

@font-face {
  font-family: Moon Light;
  src: url(../fonts/moon-light.eot);
  src: url(../fonts/moon-light.eot?#iefix) format("embedded-opentype"), url(../fonts/moon-light.woff2) format("woff2"), url(../fonts/moon-light.woff) format("woff"), url(../fonts/moon-light.ttf) format("truetype"), url(../fonts/moon-light.svg#svgmoon-light) format("svg"); }

body {
  font-family: Moon Light;
  color: #ffffff; }

#header, #about, #resume, #footer {
  display: table;
  width: 100%;
  position: relative; }
  #header > .content, #about > .content, #resume > .content, #footer > .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

#header {
  height: 100vh;
  background: #000; }

#about {
  height: 50vh;
  background: #f00; }

#resume {
  height: 50vh;
  background: #0f0; }

#projects {
  height: 50vh;
  background: #000; }

#footer {
  height: 20vh; }
  #footer > .content > .contact a {
    font-size: 2em;
    color: #000;
    letter-spacing: 5px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    #footer > .content > .contact a:hover {
      color: red; }

@media screen and (min-width: 320px) {
  .nav.left {
    display: none; } }

@media screen and (min-width: 768px) {
  .nav.left {
    width: 200px;
    height: 100vh;
    position: fixed;
    visibility: visible;
    display: block;
    left: 0;
    z-index: 1; }
  .nav.item {
    width: 100%;
    display: block;
    text-align: center; } }
