/*html {
	background: url(../images/astro_bg.jpg) no-repeat center center fixed ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

body {
	margin: 0;
	color: #000000;
}

h1, h2, h3 {
	font-family: Moon, sans-serif;
}

.header h1 {
	font-size: 50px;	
}

p {
	font-family: Saros, sans-serif;
	text-align: justify;
}

.content p {
	font-size: 20px;
}

a:link, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.my-text {
  display: none;
  text-align: center;
  /*margin-top: 20%;*/
  color: #fff;
  font-size: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
