.nav-left {
  width: 110px;
  height: 100vh;
  position: fixed;
  visibility: visible;
  display: block;
  left: 0;
  z-index: 1; }
  .nav-left:first-child {
    margin-top: 5vh; }
  .nav-left:last-child {
    margin-bottom: 0; }

.nav-item {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  margin-bottom: 5px;
  position: relative;
  left: -75%; }
  .nav-item:hover {
    background-color: #000000;
    color: #fff; }
  .nav-item a {
    color: #fff;
    text-decoration: none;
    text-align-last: justify;
    padding: 5px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

@media screen and (min-width: 768px) {
  .navbar-item-active {
    background-color: #000000;
    color: #fff;
    left: 0; } }

@media screen and (min-width: 320px) {
  .navbar-item-active {
    background-color: #000000;
    color: #fff; } }

.animation-js {
  opacity: 0;
  transition: 1s; }

.animation-js-active {
  opacity: 1; }

div:after, div:before {
  content: "";
  display: table;
  clear: both; }

.scroll-down-container {
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  text-align: center; }

.scroll-down {
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
  -webkit-animation: updown 2s infinite;
  -moz-animation: updown 2s infinite;
  -ms-animation: updown 2s infinite;
  -o-animation: updown 2s infinite;
  animation: updown 2s infinite;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@-webkit-keyframes updown {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes updown {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes updown {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

@keyframes updown {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

.profile {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: #f00; }

.noise {
  position: relative;
  overflow: hidden; }
  .noise > h1, .noise > h2 {
    -webkit-animation: noise 0.2s linear infinite;
    -moz-animation: noise 0.2s linear infinite;
    -ms-animation: noise 0.2s linear infinite;
    -o-animation: noise 0.2s linear infinite;
    animation: noise 0.2s linear infinite; }
  .noise:before, .noise:after {
    content: attr(data-name);
    text-align: center;
    margin: auto;
    position: absolute;
    display: block;
    top: -5px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; }
  @media screen and (min-width: 320px) {
    .noise[header-data1]:before, .noise[header-data1]:after {
      font-size: 2.7em; } }
  @media screen and (min-width: 550px) {
    .noise[header-data1]:before, .noise[header-data1]:after {
      font-size: 3.3em; } }
  @media screen and (min-width: 320px) {
    .noise[header-data2]:before, .noise[header-data2]:after {
      font-size: 2.4em; } }
  @media screen and (min-width: 550px) {
    .noise[header-data2]:before, .noise[header-data2]:after {
      font-size: 2.8em; } }
  .noise:before {
    color: blue;
    -webkit-animation: noise-1 0.2s linear infinite;
    -moz-animation: noise-1 0.2s linear infinite;
    -ms-animation: noise-1 0.2s linear infinite;
    -o-animation: noise-1 0.2s linear infinite;
    animation: noise-1 0.2s linear infinite; }
  .noise:after {
    color: red;
    -webkit-animation: noise-2 0.2s linear infinite;
    -moz-animation: noise-2 0.2s linear infinite;
    -ms-animation: noise-2 0.2s linear infinite;
    -o-animation: noise-2 0.2s linear infinite;
    animation: noise-2 0.2s linear infinite; }

@-webkit-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1); }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7); }
  43% {
    opacity: 1;
    transform: scaleX(1.5); } }

@-moz-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1); }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7); }
  43% {
    opacity: 1;
    transform: scaleX(1.5); } }

@-o-keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1); }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7); }
  43% {
    opacity: 1;
    transform: scaleX(1.5); } }

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1); }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7); }
  43% {
    opacity: 1;
    transform: scaleX(1.5); } }

@-webkit-keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: -6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: 2px; } }

@-moz-keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: -6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: 2px; } }

@-o-keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: -6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: 2px; } }

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: -6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: 2px; } }

@-webkit-keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: 6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: -2px; } }

@-moz-keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: 6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: -2px; } }

@-o-keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: 6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: -2px; } }

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0; }
  10% {
    opacity: .1; }
  50% {
    opacity: .5;
    left: 6px; }
  80% {
    opacity: .3; }
  100% {
    opacity: .6;
    left: -2px; } }

@font-face {
  font-family: Moon Light;
  src: url(../fonts/moon-light.eot);
  src: url(../fonts/moon-light.eot?#iefix) format("embedded-opentype"), url(../fonts/moon-light.woff2) format("woff2"), url(../fonts/moon-light.woff) format("woff"), url(../fonts/moon-light.ttf) format("truetype"), url(../fonts/moon-light.svg#svgmoon-light) format("svg"); }

@font-face {
  font-family: Audiowide;
  src: url(../fonts/audiowide-webfont.eot);
  src: url(../fonts/audiowide-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/audiowide-webfont.woff2) format("woff2"), url(../fonts/audiowide-webfont.woff) format("woff"), url(../fonts/audiowide-webfont.ttf) format("truetype"), url(../fonts/audiowide-webfont.svg#svgaudiowide-webfont) format("svg"); }

body {
  font-family: Moon Light;
  color: #000; }
  @media screen and (max-width: 768px) {
    body {
      overflow: auto; } }

scrollbar {
  display: none; }

h4 {
  font-size: 1.2em; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

#header, #about, #projects, #footer {
  display: table;
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: #fff; }
  #header > .content, #about > .content, #projects > .content, #footer > .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

#header {
  font-family: Audiowide;
  background-color: #000;
  color: #fff; }

#projects {
  height: 80vh; }

#footer {
  height: 20vh;
  background-color: #000;
  color: #fff; }
  #footer > .content > .contact a {
    font-size: 2em;
    color: #fff;
    letter-spacing: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #footer > .content > .contact a:hover {
      color: red; }
