// Mixins

@import './mixins/main';

@mixin section-layout {
  display: table;
  width: 100%;
  position: relative;
}

@mixin content-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// Include vertical nav styles from /mixins/_verticalnav.scss
@include verticalnav;

@include animation-js;

@include clearfix;

@include scroll-down;

@include profile;

@include noise;

// Fonts
//@mixin font-family($font-family, $font-name, $path)
@font-face { @include font-family(Moon Light,moon-light,"../fonts"); }

@font-face { @include font-family(Audiowide,audiowide-webfont,"../fonts"); }

// Styles

body {
  font-family: Moon Light;
  color: #000;
  // overflow: hidden;

  @media screen and (max-width: 768px){ overflow: auto; }
}

scrollbar {
  display: none;
}

h4 {
  font-size: 1.2em;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

#header, #about, #projects, #footer {
  @include section-layout;

  height: 100vh;
  background-color: #fff;

  &>.content { @include content-center; }
}

#header {
  font-family: Audiowide;
  background-color: #000;
  color: #fff;
}

#projects {
  height: 80vh;
}

#footer {
  height: 20vh;
  background-color: #000;
  color: #fff;

  &>.content {
    &>.contact a {
      font-size: 2em;
      color: #fff;
      letter-spacing: 5px;

      @include crossbrowser(transition,0.5s);

      &:hover { color: rgb(255,0,0); }
    }
  }
}

@media screen and (min-width: 991px) {
}
