@mixin hrs{
  hr.hr-prisma {
    position: absolute;
    width: 100%;
    border-top: 4px double #000;
    text-align: center;
    z-index: 1;
  }
  hr.hr-prisma:after {
    content: '\002662';
    position: absolute;
    top: -18px;
    background: #fff;
    color: #000;
    font-size: 20px;
  }
}
