@mixin menu {
  transition: 0.5s;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  display: block;
  text-align: right;
  border-style: none;
  border-radius: 0;

  &:hover { background-color: #000000; color: #fff; }
}
